@model ViewAndControllersParameters.Models.Item
@{
    ViewData["Title"] = "ParameterTest";
    Item useViewBag = ViewBag.Item;
    Item useViewData = ViewData["ViewDataItem"] as Item;
    Item useTempData = base.TempData["TempDataItem"] as Item;
    
}

<h1>ParameterTest</h1>
<div class="row">
    <div class="col-4">
        <p>@useViewBag.Description</p>
        <p>@ViewBag.once</p>
    </div>
    <div class="col-4">
        <p>@useViewData.Description</p>
    </div>
    <div class="col-4">
        <p>@Model.Description</p>
    </div>
    <div class="col-4">
        <p>@useTempData.Description</p>
        
    </div>
    </div>
<div>
    @using (Html.BeginForm("ParameterTest", "Items"))
    {
        <p>
            名稱:
            @Html.EditorFor(c => c.Name)
        </p>
        <p>
            說明:
            @Html.EditorFor(c => c.Description)
        </p>
        <p>
            <input type="submit" value="送出">
        </p>
    }
</div>